
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
        font-family: 'Poppins, sans-serif';

    }
   nav{
       width:100%;
       top:0;
       left:0;
       padding:10px 2%;
       display:flex;
       align-items:center;
       justify-content: space-between;
       background-color:rgb(33, 31, 31);
       border-radius:2px;
       margin:2px;
   
   }
   nav .logo{
       width: 60px;
       height:60px;
       border-radius:50%;

   }
   nav ul li{
       list-style:none;
       display:inline-block;
       margin-left:40px;
   }
   nav ul li a{
       text-decoration: none;
       color:white;
       font-size: 17px;
   }
    nav ul li a:hover{
        color: rgb(188, 236, 198);
        border-radius:2px solid #fff ;
        color:black;
       border-radius: 6px;
        padding:4px;
        background-color:rgb(188, 236, 198);;
    }
   
    .center{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width:400px;
        background:whitesmoke;
        border-radius:10px;
        margin-top:10%;
    }
    .center h2{
        text-align:center;
        padding:0 0 20px 0;
        border-bottom:1px solid silver;
    }
    .center form{
        padding: 0 40px;
        box-sizing: border-box;
         }
    form .txt_field{
        position: relative;
        border-bottom:2px solid #adadad;
        margin:30px 0;
    }
    .txt_field input{
        width:100%;
        padding: 0 5px;
        font-size:16px;
        border: none;
        background: none;
        outline: none;
      
    }
    .txt_field label{
        position: absolute;
        top:50%;
        left:5%;
        color: #727174;
        transform: translateY(-60% );
        font-size:16px;
        pointer-events:none;
        transition:cubic-bezier(0.75, 0.82, 0.165, 1);

    }
      .txt_field input:focus ~ label,
    .txt_field input:valid ~ label{
        top:-10px;
        color: #2691d9;
    }
  
    
    
    .pass{
        margin:-5px 0 20px 5px;
        color:#2691d9;
        cursor:pointer;
    }
    .pass:hover{
        text-decoration: underline;
    }
    input[type="submit"]{
        width:100%;
        height: 50px;
        border:1px solid;
        background: #2691d9;
        border-radius: 25px;
        font-size:18px;
        color: #e9f4fb;
        font-weight: 700;
        cursor:pointer;
        outline:none;
        
    }
    input[type="submit"]:hover{
        border-color:#2691d9;
        transition: .5s;
    }
    .signup_link{
        margin: 30px;
        text-align: center;
        font-size: 16px;
        color:#666666
    }
    .signup_link a{
        color:#2691d9;
        text-decoration:none;
    }
    .signup_link a:hover{
        text-decoration: underline;

    }
    h4{
        text-align: center;
        font-size: 18px;
        color: #727174;

    }
    .nav{
        float: right;
        margin:2px;
    }
    .Rates{
        margin-bottom:8px;
        margin-left:12px;
        color: rgb(132, 128, 128);
        
    }
    .footer{
        position: relative;
        background:rgb(27, 14, 14);
        margin-top:50%;
        align-items: center;
        clear:both;
        height:210px;
        text-align: center;
        color:white;
    }
    .footer-left{
        width:50%;
        height:190px;
        float:left;
        margin-top:8px;
        padding-top: 100px;
        margin-left:4px;
        align-items:center;
        color: rgb(246, 241, 241);
    }
    .footer-right{
        float:right;
        width:45%;
        height:auto;
        margin-top:4px;
        align-items:center;}
     .footer-img{
         height:20px;
         width:20px;
         margin:4px;
         border-radius:10px;
         color:white;
        }
     .input1{
         height:30px;
         margin:4px;
         background-color:rgb(230, 226, 226);
        width:50%;
     }
     .input2{
        height:50px;
        background-color:rgb(238, 228, 228);
        width:50%;
    }
    .submit{
        height:30px;
        width:60px;
        margin:8px;
    }
    @media screen and (max-width:800px) {
        .footer{
             background:rgb(27, 14, 14);
             margin-top:600px;
             align-items:center;
             clear:both;
             width:100%;
             height:210px;
             text-align:center;
             color:white;
             z-index:1;
             margin-bottom: 0px;
         }
     }
   
   
    


